@{
    ViewBag.Title = "Contact";
    ViewBag.Active = "Contact";
}

<div class="page-header"><h1>@ViewBag.Title</h1></div>

<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>@ViewBag.Title</strong> is under construction.
</div>