@{
    ViewBag.Title = "Info";
    ViewBag.Active = "Info";
}

<div class="page-header"><h1>@ViewBag.Title</h1></div>

<div class="row">
    <div class="col-md-6">
        <h2>Bedrijf/Organisatie</h2>
        <ol>
            <li>
                Registreer eerst uw bedrijf of organisatie.
                U kan naar de registratie pagina navigeren via "Registreer" in de menubalk rechtsboven.
            </li>
            <li>
                Als u al registreerd bent kan u simpelweg aanmelden via "Meld aan", 
                ook rechtsboven in de menubalk.
            </li>
            <li>
                Eenmaal aangemeld kan u de gegevens van uw organisatie aanpassen, nieuwe stageopdrachten aanbieden voor goedkeuring, 
                contactpersonen toevoegen/aanpassen/verwijderen, etc.
            </li>
        </ol>
    </div>
    <div class="col-md-6">
        <h2>Student</h2>
        <ol>
            <li>
                Als student moet u zich niet meer registreren.
            </li>
            <li>
                Meld u aan met de gegevens van de Hogeschool Gent. 
                Deze zijn gegevens zijn uw e-mailadres (voornaam.familienaam.'HoGentcode'&#64;student.hogent.be) en uw wachtwoord.
            </li>
            <li>
                Na de eerste aanmelding wordt meteen gevraagd een nieuw wachtwoord in te stellen.
            </li>
            <li>
                Verder kan u opzoek gaan naar een stageopdracht in het huidige academiejaar.
            </li>
            <li>
                Als eenmaal een stageopdracht hebt gekozen, moet deze eerst nog goedgekeurd worden.
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Administrator</h2>
        <p>
            Al het administratieve werk van de administrator verloopt via de desktop applicatie van The Internship&#153;.
        </p>
        <p>
            De taken van de administrator houden in:
        </p>
        <ul>
            <li>bedrijven en organisaties goedkeuren;</li>
            <li>stageopdrachten beoordelen;</li>
            <li>studenten toewijzen aan een stageopdracht;</li>
            <li>eveneens een begeleider toewijzen aan de student of stageplaats;</li>
            <li>...</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Stagebegeleider</h2>
        <p>
            Een stagebegeleider is een lector van de Hogeschool Gent en kan zich zoals de studenten gewoon aanmelden met de zijn/haar gegevens.
        </p>
        <p>
            Deze zijn gegevens zijn het e-mailadres (voornaam.familienaam&#64;hogent.be) en uw wachtwoord.
        </p>
    </div>
</div>